{%extends 'main.html'%}

{% load staticfiles %}

{% block article %}
<div class="main_list">
    <!-- <div class="main_list-filter">
        <a href="/">Показать все дома</a><a href="/HU">Венгрия</a> <a href="/SK">Словакия</a>
    </div> -->

    <div class="main_list-items">
        {% include page_template %}
    </div>


    {% block js %}
    {{ block.super }}
    <script src="{% static "js/jquery-1.11.3.min.js"%}"></script>
    <script src="{% static "js/endless-pagination.js"%}"></script>
    <script>
           $.endlessPaginate({
            onClick: function() {
                console.log('Label:', $(this).text());
            }
        });
    </script>
{%endblock%}

</div>
{% endblock %}

