{%extends 'main.html'%}
{% block article %}
{% load embed_video_tags %}


<div class="s_item-fotorama">
	<div class="fotorama">
		<img src="{{ article.article_foto.url}}">
		{% for foto in image %}
			<img src="{{foto.image_foto.url}}">
		{%endfor%}
	</div>
</div>

<div class="s_item-description">
	<h3>О доме</h3>
	<p>{{ article.article_text }}</p>

	<h4>Дополнительные постройки и другие штуки на участке</h4>
	<p>{{ article.article_outbuildings }}</p>

	<h4>Стоимость коммунальных услуг и их перечень:</h4>
	<p>{{ article.article_service }}</p>

	<h4>Видеообзор</h4>
	{% for video in video %}
		{% video video.video  %}
	{%endfor%}
</div>


<div class="s_item-info s_item-card">
	<p class="s_item-card-title">
		{%if article.article_country == 'HU' %}Венгрия{%else%}Словакия{%endif%}, {{article.article_address}}
		<br>
		{%if article.article_status == True%}
			Продаётся за {{article.article_price}}
		{% else%}
			Дом продан
		{%endif%}
	</p>

	<table class="s_item-table">
		<tr>
			<td>Площа</td>
			<td>{{ article.article_spase }}</td>
		</tr>
		<tr>
			<td>Кількість кімнат</td>
			<td>{{ article.article_rooms }}</td>
		</tr>
		<tr>
			<td>Кількість поверхів</td>
			<td>{{ article.article_floor }}</td>
		</tr>
		<tr>
			<td>Участок</td>
			<td>{{ article.article_area }}</td>
		</tr>
		<tr>
			<td>тип стін</td>
			<td>{{ article.article_walls }}</td>
		</tr>
		<tr>
			<td>Огражденный участок или нет</td>
			<td>
				{%if article.article_fence == True%}
					Огражденный
				{% else%}
					Неогражденный
				{%endif%}
			</td>
		</tr>
	</table>

	<div style="display: inline-block; margin-right: 20px;">
		<a href="{% for foto in planhouse %}{{foto.planhouse_foto.url}}{%endfor%}" class="s_item-thumb" style="background-image:url({% for foto in planhouse %}{{foto.planhouse_foto.url}}{%endfor%});"></a>
		<br>
		<a href="{% for foto in planhouse %}{{foto.planhouse_foto.url}}{%endfor%}">План дома</a>
	</div>

	<div style="display: inline-block;">
		<a href="{% for foto in planarea %}{{foto.planarea_foto.url}}{%endfor%}" class="s_item-thumb" style="background-image:url({% for foto in planarea %}{{foto.planarea_foto.url}}{%endfor%});"></a>
		<br>
		<a href="{% for foto in planarea %}{{foto.planarea_foto.url}}{%endfor%}">План участка</a>
	</div>

</div>


{% endblock %}
