{% load endless %}
{% paginate objects %}
{% for object in objects %}
    {%if object.article_country == 'HU'%}
        <p> Угорщина </p>
    {%endif%}
    {%if object.article_country == 'SK'%}
        <p> Словаччина </p>
    {%endif%}
    <p>{{object.article_address}}</p>
    <a href="/articles/get/{{object.id}}"> <img src="{{ object.article_fotosmall.url}}"> </a>
    <p></p>
    {%if object.article_status == True%}
        <p> Продається {{object.article_price}} </p>
    {% else%}
        <p> Продано </p>
    {%endif%}

    <hr>
{% endfor%}

{% show_more%}
