body {
	background: #fff;
	font-size: 14px;
	min-width: 620px;

}
	body.body-main {
		background: #f7f7f7;
	}
	body.preload * {
		-webkit-animation-delay: 10s !important;
		-o-animation-delay: 10s !important;
		animation-delay: 10s !important;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif Caption', serif;
}

.header {
	position: relative;
	padding: 14px 40px 35px;
	margin: 0 auto;
	background: #f7f7f7;
	/*border-bottom: 1px solid  rgba(0, 17, 34, 0.167);*/
	/*text-align: center;*/
	/*background: transparent url(../img/header1.jpg) center 10% no-repeat;*/
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
	body.body-main .header {
		max-width: 1100px;
		background: transparent;
	}
	.header h1 {
		font-size: 2.5em;
		margin: 0 0 .5em 0;
		padding: 0;
		font-family: 'PT Serif Caption', serif;
	}
		.header h1, .header a h1 {
			color: #3CB12F;
			transition: color 0.1s ease-out, background 0.1s ease-out, border-color 0.1s ease-out, box-shadow 0.1s ease-out;
		}
		.header a:hover h1 {
			color: #c83700;
			transition: color 0s, background 0s, border-color 0s, box-shadow 0s;
		}

	.header-description {
		display: inline-block;
		width: 320px;
		vertical-align: top;
		text-align: left;
	}
	.header-contacts {
		display: inline-block;
		width: 160px;
		margin-left: 10%;
		margin-right: -100px;
		vertical-align: top;
		text-align: left;
		white-space: nowrap;
	}
		.header-contacts-phone {
			margin-left: -.135em;
		}

	.likely {
		display: block;
		height: 30px;
		position: absolute;
	}

.content {
	padding: 21px 40px 60px;
}

/* MAIN_LIST */
	.main_list {
		position: relative;
		display: block;
		margin: -15px;
		text-align: center;
	}

	.main_list-filter {
		display: inline-block;
		background: #f7f7f7;
		border-top: 1px solid rgba(0, 17, 34, 0.167);
		border-radius: 2em;
		padding: 10px 20px;
	}

	.main_list-items-dblbl {
		height: 530px;
		display: inline-block;
		white-space: nowrap;
	  margin-bottom: 1em;
	}


	@-webkit-keyframes el_show { from { opacity: 0; top: 3px; } }
	@-moz-keyframes el_show { from { opacity: 0; top: 3px; } }
	@-o-keyframes el_show { from { opacity: 0; top: 3px; } }
	@keyframes el_show { from { opacity: 0; top: 3px; } }

	.main_list-items-item {
		position: relative;
		display: inline-block;
		margin: 15px;
		width: 250px;
		height: 500px;
		border-radius: 2px;
		text-align: left;
		vertical-align: top;
		background: #fff;
		-webkit-box-shadow: 0px 25px 40px -15px #afa9a0;
		box-shadow: 0px 25px 40px -15px #afa9a0;
		overflow: hidden;
		white-space: normal;
	  -webkit-animation: el_show .2s;
	  -moz-animation:    el_show .2s;
	  -o-animation:      el_show .2s;
	  animation:         el_show .2s;
	  -webkit-animation-fill-mode: backwards;
	  -o-animation-fill-mode: backwards;
	  animation-fill-mode: backwards;
	}
		.main_list-items-dblbl:nth-child(1) .main_list-items-item:nth-child(2) {
			-webkit-animation-delay: .05s;
			-o-animation-delay: .05s;
			animation-delay: .05s;
		}
		.main_list-items-dblbl:nth-child(2) .main_list-items-item:nth-child(1) {
			-webkit-animation-delay: .09s;
			-o-animation-delay: .09s;
			animation-delay: .09s;
		}
		.main_list-items-dblbl:nth-child(2) .main_list-items-item:nth-child(2) {
			-webkit-animation-delay: .11s;
			-o-animation-delay: .11s;
			animation-delay: .11s;
		}

	.main_list-items-item-image {
		position: relative;
		display: block;
		width: 250px;
		height: 180px;
		border-radius: 2px 2px 0 0;
		border: none;
		font-size: 0;
		line-height: 0;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
		.main_list-items-item-image:before {
			background: transparent;
			content: " ";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			-webkit-box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.80);
			box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.80);
  	}
		.main_list-items-item-image:hover, .main_list-items-item-image.hover {
			opacity: .85;
		}

	.main_list-items-item-place .flag {
		position: absolute;
		margin-left: -20px;
	}

	.main_list-items-item-content {
		padding: 20px 20px 40px 20px;
	}

	.main_list-items-item-header {
		font-size: 1.4em;
	}

	.main_list-items-item-desc {
		padding: 10px 0;
		line-height: 1.3em;
	}

	.main_list-items-item-footer {
		position: absolute;
		padding: 10px 20px;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFFADE;
		/*background: #ACDFCF;*/
		text-align: right;
		border-radius: 0 0 2px 2px;
		z-index: 999;
	}
	.main_list-items-item-sold_badge {
		position: absolute;
		background: rgba(200, 55, 0, 0.27);
		color: #c83700;
		width: 150%;
		margin: -34px 0 0 -30%;
		padding: 3px 0;
		text-align: center;
		border-bottom: 1px solid  rgba(0, 17, 34, 0.083);
		transform: rotate(-15deg) translate(0, 15px);
		z-index: 999;
	}
	.main_list-items-item-price {
		font-size: 1.4em;
		font-family: 'PT Serif Caption', serif;
		font-weight: bold;
	}
		.main_list-items-item-price a {
			position: relative;
		}
		.item-sold .main_list-items-item-price a:before {
		  content: "";
		  position: absolute;
		  height: 1px;
		  background: #e64422;
		  left: -15px;
		  right: -15px;
		  top: 50%;
		  transform: rotate(-15deg);
		}

	.main_list-btn_more {
		display: block;
		margin: 4px auto;
		max-width: 1100px;
		text-align: right;
	  -webkit-animation: el_show .2s;
	  -moz-animation:    el_show .2s;
	  -o-animation:      el_show .2s;
	  animation:         el_show .2s;
	  -webkit-animation-fill-mode: backwards;
	  -o-animation-fill-mode: backwards;
	  animation-fill-mode: backwards;
		-webkit-animation-delay: .35s;
		-o-animation-delay: .35s;
		animation-delay: .35s;
	}
		#autorepost-button h4 {
			display: inline-block;
			position: relative;
			margin-right: -18px;
		}
			#autorepost-button h4.arrow-right a {
				padding-right: 40px;
				margin-left: 20px;
			}
			#autorepost-button h4.arrow-left a {
				padding-left: 40px;
				margin-right: 20px;
			}
			#autorepost-button .btn-clip {
			  width: 69px;
			  height: 14px;
			  background: #f7f7f7;
			  position: absolute;
			  margin-top: -22px;
		  }
				#autorepost-button .btn-clip1, #autorepost-button .btn-clip2 {
					right: -43px;
				}
				#autorepost-button .btn-clip1, #autorepost-button .btn-clip3 {
					-webkit-transform: rotate(52deg);
					-ms-transform: rotate(52deg);
					-o-transform: rotate(52deg);
					transform: rotate(52deg);
				}
				#autorepost-button .btn-clip3, #autorepost-button .btn-clip4 {
					left: -43px;
				}
				#autorepost-button .btn-clip2, #autorepost-button .btn-clip4 {
					-webkit-transform: rotate(-52deg);
					-ms-transform: rotate(-52deg);
					-o-transform: rotate(-52deg);
					transform: rotate(-52deg);
				}
		#autorepost-button a {
			padding: 9px 20px 10px;
			font-size: 21px;
			font-weight: bold;
			border: none;
			color: #fff;
			background: #3CB12F;
			border-radius: 2px;
			transition: color 0.1s ease-out, background 0.1s ease-out, border-color 0.1s ease-out, box-shadow 0.1s ease-out;
		}
			#autorepost-button a:hover {
				background: #55c449;
			  transition: color 0s, background 0s, border-color 0s, box-shadow 0s;
			}
/* MAIN_LIST */

/* S_ITEM */
	.s_item-fotorama {
		position: relative;
		background: #333;
		/*padding: 20px 40px 20px;*/
		margin: -21px -40px 20px;
		z-index: 999;
	}
		.s_item-fotorama .fotorama__wrap {
			margin: 0 auto;
		}

	.s_item-description {
		display: inline-block;
		max-width: 500px;
		margin-bottom: 2em;
		vertical-align: top;
		text-align: left;
	}
		.s_item-description h3:first-of-type {
			margin-top: 0;
		}

	.s_item-card {
		display: inline-block;
		max-width: 300px;
		padding: 10px 20px;
		margin-right: 70px;
		background: #FFFADE;
		vertical-align: top;
		text-align: left;
	  -webkit-animation: el_show .2s;
	  -moz-animation:    el_show .2s;
	  -o-animation:      el_show .2s;
	  animation:         el_show .2s;
	  -webkit-animation-fill-mode: backwards;
	  -o-animation-fill-mode: backwards;
	  animation-fill-mode: backwards;
	  -webkit-animation-delay: 1s;
	  -o-animation-delay: 1s;
	  animation-delay: 1s;
	}
	.s_item-card-title {
		margin-top: -10px;
		margin-left: -20px;
		margin-right: -20px;
		padding: 10px 20px;
		font-size: 1.3em;
	}
		.s_item-card-title span.item-sold {
			color: #c83700;
		}
	.s_item-card p, .s_item-table {
		margin-bottom: 1.4em;
	}
	.s_item-table {}
	.s_item-table, .s_item-table tr, .s_item-table td  {
		vertical-align: top;
		line-height: 1.3em;
		padding-bottom: .2em;
	}
	.s_item-table td:first-child {
		padding-right: 20px;
	}
	.s_item-thumb {
		display: inline-block;
		width: 100px;
		height: 100px;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: -1px;
		border: 1px solid #f7f7f7;
	}
	.s_item-thumb:hover, .s_item-thumb.hover {
		opacity: .85;
		border: 1px solid rgba(200, 55, 0, 0.2);
	}
/* END S_ITEM */

.flag {
	display: inline-block;
	width: 15px;
	height: 12px;
	margin-top: 3px;
	background: transparent 1px center repeat-x;
	-webkit-background-size: 12px 12px;
	background-size: 12px 12px;
	-webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));;
	filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));;
}
	.flag.flag-hu {
		background-image: url(../img/hu.png);
	}
	.flag.flag-sk {
		background-image: url(../img/sk.png);
	}

.strike-through:before {
  content: "";
  position: absolute;
  height: 1px;
  background: #e64422;
  left: -5%;
  right: -5%;
  top: 50%;
  transform: rotate(-15deg);
}


.footer-line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent url(../img/header1.jpg) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	text-align: center;
}
