body {
	background: #f7f7f7;
	font-size: 14px;
}

.header {
	position: relative;
	padding: 30px 40px 120px;
	border-bottom: 1px solid  rgba(0, 17, 34, 0.167);
	text-align: center;
	background: transparent url(../img/header1.jpg) center 10% no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
	.header-description {
		display: inline-block;
		width: 320px;
		margin-right: 50px;
		vertical-align: top;
		text-align: left;
	}
	.header-contacts {
		display: inline-block;
		width: 200px;
		vertical-align: top;
		text-align: left;
	}

.content {
	padding: 30px 40px 60px;
	min-height: 687px;
}

/* MAIN_LIST */
	.main_list {
		position: relative;
		display: block;
		margin: -15px;
		text-align: center;
	}

	.main_list-filter {
		display: inline-block;
		background: #f7f7f7;
		border-top: 1px solid rgba(0, 17, 34, 0.167);
		border-radius: 2em;
		padding: 10px 20px;
	}

	.main_list-items-item {
		position: relative;
		display: inline-block;
		margin: 15px;
		width: 250px;
		height: 500px;
		border-radius: 2px;
		text-align: left;
		vertical-align: top;
		background: #fff;
		-webkit-box-shadow: 0px 25px 40px -15px #afa9a0;
		box-shadow: 0px 25px 40px -15px #afa9a0;
		overflow: hidden;
	}

	.main_list-items-item-image {
		position: relative;
		display: block;
		width: 250px;
		height: 180px;
		border-radius: 2px 2px 0 0;
		border: none;
		font-size: 0;
		line-height: 0;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
		.main_list-items-item-image:before {
			background: transparent;
			content: " ";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			-webkit-box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.80);
			box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.80);
  	}
		.main_list-items-item-image:hover, .main_list-items-item-image.hover {
			opacity: .85;
		}

	.main_list-items-item-place .flag {
		position: absolute;
		margin-left: -20px;
	}

	.main_list-items-item-content {
		padding: 20px 20px 40px 20px;
	}

	.main_list-items-item-header {
		font-size: 1.4em;
	}

	.main_list-items-item-desc {
		padding: 10px 0;
		line-height: 1.3em;
	}

	.main_list-items-item-footer {
		position: absolute;
		padding: 10px 20px;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFFADE;
		/*background: #ACDFCF;*/
		text-align: right;
		border-radius: 0 0 2px 2px;
		z-index: 999;
	}
	.main_list-items-item-sold_badge {
		position: absolute;
		background: #faa;
		width: 150%;
		margin: -34px 0 0 -30%;
		padding: 3px 0;
		text-align: center;
		border-bottom: 1px solid  rgba(0, 17, 34, 0.083);
		transform: rotate(-15deg) translate(0, 15px);
		z-index: 999;
	}
	.main_list-items-item-price {
		font-size: 1.4em;
	}
		.main_list-items-item-price a {
			position: relative;
		}
		.item-sold .main_list-items-item-price a:before {
		  content: "";
		  position: absolute;
		  height: 1px;
		  background: #e64422;
		  left: -15px;
		  right: -15px;
		  top: 50%;
		  transform: rotate(-15deg);
		}

	.main_list-btn_more {
		margin: 40px auto 20px;
	}
/* MAIN_LIST */

/* S_ITEM */
	.s_item-fotorama {
		position: relative;
		background: #282828;
		padding: 20px 40px 20px;
		margin: -120px -40px 20px;
		z-index: 999;
	}
		.s_item-fotorama .fotorama__wrap {
			margin: 0 auto;
		}

	.s_item-description {
		display: inline-block;
		margin-right: 100px;
		vertical-align: top;
	}

	.s_item-card {
		display: inline-block;
		max-width: 300px;
		padding: 10px 20px;
		background: #FFFADE;
		vertical-align: top;
	}
	.s_item-card-title {
		font-size: 1.3em;
	}
	.s_item-card p, .s_item-table {
		margin-bottom: 1.4em;
	}
	.s_item-table {}
	.s_item-table td:first-child {
		padding-right: 20px;
	}
	.s_item-thumb {
		display: inline-block;
		width: 100px;
		height: 100px;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: -1px;
		border: 1px solid #f7f7f7;
	}
	.s_item-thumb:hover, .s_item-thumb.hover {
		opacity: .85;
		border: 1px solid rgba(200, 55, 0, 0.2);
	}
/* END S_ITEM */

.flag {
	display: inline-block;
	width: 15px;
	height: 12px;
	margin-top: 3px;
	background: transparent 1px center repeat-x;
	-webkit-background-size: 12px 12px;
	background-size: 12px 12px;
	-webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));;
	filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));;
}
	.flag.flag-hu {
		background-image: url(../img/hu.png);
	}
	.flag.flag-sk {
		background-image: url(../img/sk.png);
	}

.strike-through:before {
  content: "";
  position: absolute;
  height: 1px;
  background: #e64422;
  left: -5%;
  right: -5%;
  top: 50%;
  transform: rotate(-15deg);
}


.footer-line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 14px;
	background: transparent url(../img/header1.jpg) center no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
